<html>
    <head>
        <title>Personal Web</title>

        <link rel="stylesheet" href="../public/assets/css/styleDay7.css">

    </head>
    <body>

        <!-- awal navbar -->
        <nav> 

            <div class="left">

                <img src="../public/assets/images/logo.png" alt="logo">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="right">
                <a href="contact.html">Contact Me</a>
            </div>

        </nav>
        <!-- akhir navbar -->

        <div class="container">
            <div class="section">
                <div class="left">
                    
                    <div style="
                        border: 2px solid black; 
                        border-radius: 8px;
                        padding: 10px;
                        box-shadow: 0px 0px 30px black
                        ">
                        
                        <img src="../public/assets/images/my-img.jpg" alt="gambar-astronot" style="width: 100%; border-radius:10px"  />

                        <h2>Samsul Rijal</h2>
                        <p style="color: grey;">Selamat datang di web personal saya yang menarik dan bagus pokonya mah</p>

                        <table style="border: 1px solid black; width: 100%; border-collapse:collapse; text-align:center" cellpadding="10px">
                            <tr style="background-color: grey; color:aliceblue">
                                <th>Experiance</th>
                                <th>Year</th>
                            </tr> 

                            <tr>
                                <td>Develop Website Personal</td>
                                <td>2021</td>
                            </tr>

                            <tr>
                                <td>Website Kopi Enak</td>
                                <td>2022</td>
                            </tr>
                        </table>
                    </div>
                
                </div>
                
                
                <div class="right">
                    <h1>What i do</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore id earum explicabo molestias aliquid sunt voluptates enim eaque adipisci praesentium.</p>
                
                    
                    <div class="skill-container">
                        <div>
                            <img src="../public/assets/images/my-img.jpg" alt="">
                            <h4>Frontend Developer</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, temporibus.</p>
                        </div>

                        <div>
                            <img src="../public/assets/images/my-img.jpg" alt="">
                            <h4>Version Control</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, temporibus.</p>
                        </div>

                        <div>
                            <img src="../public/assets/images/my-img.jpg" alt="">
                            <h4>Automated Deployment</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, temporibus.</p>
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>